.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: var(--color-background);
    border-radius: 1rem;
    padding: 1rem;

    height: calc(100vh - 2rem);
    overflow: auto;

    & h1 {
        background: linear-gradient(90deg,
                #f07dff,
                #0043ff);
        /* Set your gradient colors */
        background-clip: text;
        font-weight: unset;
        -webkit-background-clip: text;
        /* Clip the background to the text */
        -webkit-text-fill-color: transparent;
        /* Make the text color transparent */
    }
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    & button {
        background: transparent;
        aspect-ratio: 1;
        border: none;
        border-radius: 50%;
        cursor: pointer;

        & svg {
            color: var(--color-primary-blue);
            font-size: 1.8rem;
        }
    }
}

.charts {
    display: flex;
    flex-direction: column;

    display: grid;
    grid-template-columns: 40rem 40rem;

    & canvas {
        width: 100%;
        /* Adjust as necessary */
        max-width: 30rem;
        /* Control the maximum width */
        height: auto;
        max-height: 80vh;
    }
}

@media (max-width: 777px) {
    .container {
        height: calc(100vh - 5.5rem);
        overflow: auto;

        & div>strong {
            display: none;
        }
    }

    .charts {
        display: flex;
        gap: 1rem;
        align-items: center;
    }
}

.greeting {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
}

.dateAndUser {
    display: flex;
    align-items: center;
    gap: 20px;
}

.date {
    font-size: 1.1rem;
    font-weight: 500;
    color: #555;
}

.notificationButton {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: #007bff;
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.notificationButton:hover {
    color: #0056b3;
}

.notificationButton:focus {
    outline: none;
}

.userProfile {
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
    height: 50px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.userProfile img {
    border-radius: 50%;
}



/* Hero section */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
    color: #333;
}

.subtitle {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: #555;
}

.tableWrapper {
    background-color: var(--color-background);
    border-radius: 8px;
    padding: 0 .35rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.table th,
.table td {
    padding: 1rem;
    border-bottom: 1px solid #eaeaea;
}

.table tr:hover {
    background-color: #f9f9f9;
}