.container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 1rem;
  /* background: var(--color-background); */
  border-radius: 1rem;
  padding: 1rem;
  padding-bottom: 0;

  height: calc(100vh - 4rem);
  overflow: auto;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  z-index: 1;
  position: relative;

  & button:first-of-type {
    position: absolute;
    border: none;
    background: transparent;
    color: var(--color-primary-blue);
    padding: 0.125rem;
    left: 0.25rem;
    font-size: 1.25rem;
    top: 55%;
    transform: translateY(-50%);

    cursor: pointer;
  }

  /* & button:last-of-type {
    position: absolute;
    border: 1px solid #ddd;
    border: 1px solid var(--color-boundary);

    border-radius: 0.25rem;
    background: var(--color-background);
    padding: 0.125rem;
    left: 22.5rem;
    top: 50%;
    transform: translateY(-50%);

    cursor: pointer;
  } */
}

/* SearchBar */

.searchContainer > input {
  display: flex;
  /* align-items: center; */
  position: relative;
  width: fit-content;
  width: 25rem;
  transition: all 200ms ease-in-out;
}

.inputField {
  padding: 0.125rem 1rem;
  padding-left: 1.75rem;
  border-radius: 0.5rem;
  width: 25rem;
  height: 2rem;
  color: var(--color-text);
  background: var(--color-background);
  /* border: 1px solid #f4f4f4; */
  /* border: 1px solid var(--color-boundary); */
  border: none;

  transition: all 300ms ease-in-out;

  cursor: pointer;
}

.inputField:focus-visible {
  outline: none;
  background: var(--color-background);
  box-shadow: 0 0 0.125rem 0 #1e90ff;
  box-shadow: 0 0 0.125rem 0 var(--color-primary-blue);
  /* box-shadow: 0 0 0.125rem 0 #eeeeee; */
}

.searchResults {
  position: absolute;
  min-width: 25rem;
  top: 3rem;
  left: 0;
  background: var(--color-background);
  display: flex;
  height: 0;
  flex-direction: column;
  overflow: auto;
  border: 1px solid var(--color-boundary);
  border-radius: 1.5rem;

  transition: all 300ms ease-in-out;

  & p {
    /* margin: 0 1rem; */
    font-size: 0.8rem;
    padding: 0.75rem 1rem;
    border: none;
    border-bottom: 1rem 1px solid var(--color-boundary);
    background: transparent;
    transition: padding 300ms ease-in-out;
    text-align: left;

    cursor: pointer;

    display: flex;
    justify-content: space-between;
  }

  & p:last-of-type {
    border: none;
  }

  & p:hover,
  & p:active,
  & p:focus-visible {
    padding: 0.75rem 2rem;
    background: rgba(255, 215, 0, 0.22);
    background: #eaf6f6;
    background: var(--body-background);
  }
}

.searchContainer input:not(:placeholder-shown) ~ :where(.searchResults) {
  height: 20rem;
}

.searchContainer input:placeholder-shown ~ :where(.searchResults) {
  height: 0rem !important;
}

.jobInput {
  position: relative;

  & input,
  & input:active {
    background-color: transparent;
    border: 1px solid var(--color-primary-blue);
    border-radius: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }

  & input[type="number"]::-webkit-inner-spin-button,
  & input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Remove the spin buttons */
    margin: 0; /* Remove any default margins */
  }

  & input:active,
  & input:focus-visible {
    outline: 1px solid var(--color-primary-blue);
    box-shadow: 0 0 0.25rem 0 var(--color-primary-blue);
    /* outline: 1px solid var(--color-input-border);
    box-shadow: 0 0 0.25rem 0 var(--color-input-border); */
  }

  & label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    left: 1rem;
    font-size: 0.8rem;
    padding: 0rem 0.25rem;

    transform: translateY(-50%);

    color: var(--color-boundary);
    background: var(--color-background);

    transition: all 175ms ease-in-out;
  }

  & input:active ~ :where(& label),
  & input:focus-visible ~ :where(& label),
  & input:not(:placeholder-shown) ~ :where(& label) {
    /* outline: 1px solid #8dc6ff; */

    color: black;
    scale: 0.8;
    top: -0.1rem;
    left: 0.25rem;
  }
}

.formContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* align-items: flex-end; */
  align-items: center;
  background: transparent;
  gap: 1rem;
  /* width: clamp(20rem, 80vw, 80rem); */
  width: 100%;

  & div {
    display: flex;
    flex-direction: column;
    gap: inherit;
  }

  & p {
    background: linear-gradient(91deg, #ffa71f, #0043ff);
    background: linear-gradient(90deg, #f07dff, #0043ff);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  & label {
    background: var(--body-background);
  }
}

.jobs {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  /* margin: 1rem 0; */
  /* padding: 0.5rem 0; */
  /* border: 2px solid red; */
  width: 100%;

  perspective: 100vw;
  position: relative;

  & > button {
    position: absolute;
    top: 50%;
    transform: translateX(-50%);

    border: 1px solid var(--color-boundary);
    padding: 0.25rem 0.5rem;
    font-size: 2rem;
    display: flex;
    align-items: center;

    background: transparent;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    /* border-radius: .25rem; */
  }
  & > button:active {
    border-color: black;
    scale: 0.88;
  }
}

.jobContainer {
  display: grid;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid var(--color-input-border); */
  /* border: 1px solid var(--color-boundary); */
  gap: 1rem;
  padding: 1rem;
  min-width: 19rem;
  max-width: fit-content;
  border-radius: 0.5rem;
  opacity: 1;

  position: relative;

  box-shadow: 0 0 0 0 transparent;
  transition: all 450ms ease-in-out;

  background: var(--color-background);

  & > div {
    display: flex;
    gap: inherit;
    grid-column: span 3;

    & > input {
      width: 100%;
    }
  }

  & > p:first-of-type {
    display: flex;
    justify-content: space-between;
    top: -2rem;

    grid-column: span 3;

    padding-inline: 1rem;
    font-weight: bold;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      padding: 0rem;
      font-size: 1.2rem;
      border: 1px solid transparent;
      border-radius: 100vw;
      background: tomato;
      scale: 0.9;
      position: relative;
      transition: all 300ms ease-in-out;
      cursor: pointer;
      z-index: 1000;
    }
    & button:hover {
      color: var(--color-background);
    }
    & button:hover::after {
      position: absolute;
      border: 1px solid var(--color-boundary);
      border-radius: 0.125rem;
      font-size: 0.75rem;
      padding-inline: 0.25rem;
      box-shadow: 0 0 0.125rem 0 var(--color-boundary);
      background: var(--color-background);
      top: -1rem;
      content: "Close";
    }
    & button:active {
      scale: 0.8;
    }
  }

  & button {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5rem 1.5rem;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: var(--color-background);
    background: var(--color-primary-blue);
    font-size: 1rem;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }

  & button:active {
    scale: 0.9;
  }
}

.dimensions {
  display: flex;
  flex-direction: row;
  gap: 1rem;

  & input {
    width: 5rem;
  }
}

.addBtn {
  padding: 1rem 1.5rem;
  font-size: 4rem;
  display: flex;
  color: var(--color-input-border);
  background: transparent;
  border: 1px solid var(--color-boundary);

  transform: rotate3d(0, 1, 0, 45deg);
  transition: all 300ms ease-in-out;
  cursor: pointer;
}

.addBtn:active,
.addBtn:focus-visible {
  scale: 0.8;
}

@media (max-width: 777px) {
  .container {
    height: calc(100vh - 5.5rem);
  }

  .searchContainer > input {
    width: 100%;
  }
  .searchResults {
    width: 100%;
    min-width: unset;
  }
}


/* Button CSS */

.fieldsetClass {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.inputClass {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
}

.inputClass:focus-visible {
  outline: 1px solid rgb(2, 140, 246);
}

#populateDiv {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  position: absolute;
  bottom: 0;
  display: flex;
  width: 100vw;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  & button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 5rem;
    padding: 1rem;
    font-size: 1.2rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    background: tomato;
    scale: 0.9;
    position: relative;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    z-index: 1000;
  }
  & button:hover {
    color: var(--color-background);
  }
  /* & button:hover::after {
          position: absolute;
          border: 1px solid var(--color-boundary);
          border-radius: 0.125rem;
          font-size: 0.75rem;
          padding-inline: 0.25rem;
          box-shadow: 0 0 0.125rem 0 var(--color-boundary);
          background: var(--color-background);
          top: -1rem;
          content: "Close";
        } */
  & button:active {
    scale: 0.8;
  }
}

#add {
  background-color: var(--color-primary-green);
}

#submit {
  background-color: var(--color-primary-blue);
}