.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: var(--color-background);
  border-radius: 1rem;
  padding: 1rem;

  height: calc(100vh - 2rem);
}

.profile {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;

  & div {
    display: flex;
    flex-direction: column;
    gap: 0.375rem;

    & p:first-of-type {
      font-size: 1.2rem;
      font-weight: bold;
    }
  }
}

.sessionDetails {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  & div {
    display: flex;
  }
}

.logOut {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  & p {
    font-size: 1.5rem;
    font-weight: bold;
    /* background: linear-gradient(to right, #ffcc00, #ff6699); */
    background: linear-gradient(to right, var(--color-primary-orange), red);
    background-clip: content-box;
    -webkit-background-clip: text;

    -webkit-text-fill-color: transparent;
  }

  & button {
    width: 7rem;
    border: 1px solid var(--color-primary-orange);
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    background: none;
    color: var(--color-primary-orange);

    cursor: pointer;
    transition: all 200ms ease-in-out;
  }

  & button:hover {
    border-color: var(--color-background);
    color: var(--color-background);
    background: var(--color-primary-orange);
  }
  & button:active,
  & button:focus-visible {
    scale: 0.9;
  }
}

@media (max-width: 777px) {
  .container {
    height: calc(100vh - 5.5rem);
  }
}
